*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
html {
    scroll-behavior: smooth;
    transition: 1.5s;
}

body {
    background-color: #111827;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}