// ---------------------------------------------------------------------------------------------------------
// Roboto

@font-face {
    font-family: "Roboto-Light";
    src: url("/src/assets/fonts/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("/src/assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("/src/assets/fonts/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto-SemiBold";
    src: url("/src/assets/fonts/Roboto-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("/src/assets/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto-ExtraBold";
    src: url("/src/assets/fonts/Roboto-ExtraBold.ttf");
    font-weight: 800;
}

// ---------------------------------------------------------------------------------------------------------
// Rubik 
@font-face {
    font-family: "Rubik-Light";
    src: url("/src/assets/fonts/Rubik-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Rubik-Regular";
    src: url("/src/assets/fonts/Rubik-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Rubik-Medium";
    src: url("/src/assets/fonts/Rubik-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Rubik-SemiBold";
    src: url("/src/assets/fonts/Rubik-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Rubik-Bold";
    src: url("/src/assets/fonts/Rubik-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Rubik-ExtraBold";
    src: url("/src/assets/fonts/Rubik-ExtraBold.ttf");
    font-weight: 800;
}