.snowEffect {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 9999;
	overflow: hidden;
}

.snow {
	position: absolute;
	top: -10vh;
	font-size: 20px;
	color: white;
	animation: fall linear infinite;
	filter: drop-shadow(0 0 5px white);
}

@keyframes fall {
	0% {
		transform: translateX(0) translateY(0);
	}
	100% {
		transform: translateX(var(--moveX)) translateY(120vh);
	}
}

.snow:nth-child(3n) {
	font-size: 30px;
	opacity: .8;
}

.snow:nth-child(5n) {
	font-size: 18px;
	filter: blur(2px);
}

.snow:nth-child(7n) {
	font-size: 40px;
	filter: blur(1px);
}
